#digito_0 {
    width: 100px;
    transition: transform 0.3s ease;
    cursor: pointer;
    transition: 0.3s;
}
#digito_0:hover {
    filter: brightness(75%);
    transition: 0.3s;
}
#digito_1 {
    width: 100px;
    transition: transform 0.3s ease;
    cursor: pointer;
    transition: 0.3s;
}
#digito_1:hover {
    filter: brightness(75%);
    transition: 0.3s;
}
#digito_2 {
    width: 100px;
    transition: transform 0.3s ease;
    cursor: pointer;
    transition: 0.3s;
}
#digito_2:hover {
    filter: brightness(75%);
    transition: 0.3s;
}
#digito_3 {
    width: 100px;
    transition: transform 0.3s ease;
    cursor: pointer;
    transition: 0.3s;
}
#digito_3:hover {
    filter: brightness(75%);
    transition: 0.3s;
}
#digito_4 {
    width: 100px;
    transition: transform 0.3s ease;
    cursor: pointer;
    transition: 0.3s;
}
#digito_4:hover {
    filter: brightness(75%);
    transition: 0.3s;
}
#digito_5 {
    width: 100px;
    transition: transform 0.3s ease;
    cursor: pointer;
    transition: 0.3s;
}
#digito_5:hover {
    filter: brightness(75%);
    transition: 0.3s;
}
#digito_6 {
    width: 100px;
    transition: transform 0.3s ease;
    cursor: pointer;
    transition: 0.3s;
}
#digito_6:hover {
    filter: brightness(75%);
    transition: 0.3s;
}
#digito_7 {
    width: 100px;
    transition: transform 0.3s ease;
    cursor: pointer;
    transition: 0.3s;
}
#digito_7:hover {
    filter: brightness(75%);
    transition: 0.3s;
}
#digito_8 {
    width: 100px;
    transition: transform 0.3s ease;
    cursor: pointer;
    transition: 0.3s;
}
#digito_8:hover {
    filter: brightness(75%);
    transition: 0.3s;
}
#digito_9 {
    width: 100px;
    transition: transform 0.3s ease;
    cursor: pointer;
    transition: 0.3s;
}
#digito_9:hover {
    filter: brightness(75%);
    transition: 0.3s;
}
#digito_mais {
    width: 100px;
    transition: transform 0.3s ease;
    cursor: pointer;
    transition: 0.3s;
}
#digito_mais:hover {
    filter: brightness(75%);
    transition: 0.3s;
}
#digito_menos {
    width: 100px;
    transition: transform 0.3s ease;
    cursor: pointer;
    transition: 0.3s;
}
#digito_menos:hover {
    filter: brightness(75%);
    transition: 0.3s;
}
#digito_igual {
    width: 100px;
    transition: transform 0.3s ease;
    cursor: pointer;
    transition: 0.3s;
}
#digito_igual:hover {
    filter: brightness(75%);
    transition: 0.3s;
}
#digito_multiplicacao {
    width: 100px;
    transition: transform 0.3s ease;
    cursor: pointer;
    transition: 0.3s;
}
#digito_multiplicacao:hover {
    filter: brightness(75%);
    transition: 0.3s;
}
#digito_divisao {
    width: 100px;
    transition: transform 0.3s ease;
    cursor: pointer;
    transition: 0.3s;
}
#digito_divisao:hover {
    filter: brightness(75%);
    transition: 0.3s;
}
#digito_Vazio {
    width: 100px;
    transition: transform 0.3s ease;
    cursor: pointer;
    transition: 0.3s;
}
#digito_Vazio:hover {
    filter: brightness(75%);
    transition: 0.3s;
}

.container { /* Criando uma classe container para colocar em um <div> depois */
    position: relative; /* Garante que elementos posicionados fiquem relativos dentro do container */
    width: 100%; /* Ocupar toda a largura disponível do container */
    max-width: 600px; /* Defina o tamanho máximo da tabela */
    margin: 0 auto; /* Centraliza a tabela na página */
}

.imagem-fundo { /* Classe para imagem de fundo */
    width: 100%; /* Ocupar toda a largura do .container */
    height: auto; /* Para manter a proporção da imagem */
}

.digitos-sobre-imagem {
    position: absolute; /* permite posicionar dentro do .container */
    top: 285px;
    left: 98px;
}
.digitos {
    width: 95px !important;
}

table {
    width: 100%;
}
@keyframes fade {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

font {
    animation: fade 1.6s infinite;
}
body {
    font-family: 'Workbench', sans-serif;
}


@-moz-document url-prefix() {
    #digito_1 {
        position: relative;
        bottom: 3px;
    }
    #digito_2 {
        position: relative;
        bottom: 5px;
    }
    #digito_3 {
        position: relative;
        bottom: 5px;
    }
    #digito_menos {
        position: relative;
        bottom: 5px;
    }


    #digito_0 {
        position: relative;
        bottom: 6px;
    }
    #digito_Vazio {
        position: relative;
        bottom: 5px;
    }
    #digito_igual {
        position: relative;
        bottom: 5px;
    }
    #digito_mais {
        position: relative;
        bottom: 5px;
    }


    #digito_4 {
        position: relative;
        bottom: 2px;
    }
}

@media only screen and (max-width: 600px) {
    body {
        touch-action: none;
    }
    .digitos-sobre-imagem {
        position: absolute;
        left: 48px;
        top: 268px;
        touch-action: none;
    }

    div img {
        scale: 84%;
    }
    .imagem-fundo {
        scale: 110%;
        position: fixed;
        top: 80px;
    }
    #digito_7 {
        scale: 83%;
    }
    #digito_8 {
        position: relative;
        right: 17px;
        bottom: 1px;
    }
    #digito_9 {
        position: relative;
        right: 34px;
    }
    #digito_divisao {
        position: relative;
        right: 52px;
    }
    #digito_4 {
        position: relative;
        bottom: 15px;
    }
    #digito_5 {
        position: relative;
        bottom: 15px;
        right: 17px;
    }
    #digito_6 {
        position: relative;
        bottom: 15px;
        right: 35px;
    }
    #digito_multiplicacao {
        position: relative;
        bottom: 15px;
        right: 51px;
    }
    #digito_1 {
        position: relative;
        bottom: 31px;
    }
    #digito_2 {
        position: relative;
        bottom: 30px;
        right: 17px;
    }
    #digito_3 {
        position: relative;
        bottom: 30px;
        right: 35px;
    }
    #digito_menos {
        position: relative;
        bottom: 30px;
        right: 52px;
    }
    #digito_0 {
        position: relative;
        bottom: 48px;
    }
    #digito_Vazio {
        position: relative;
        bottom: 47px;
        right: 17px;
    }
    #digito_igual {
        position: relative;
        bottom: 47px;
        right: 34px;
    }
    #digito_mais {
        position: relative;
        bottom: 47px;
        right: 52px;
    }
    #OutPut {
        position: relative;
        top: 21px;
        font-size: x-large;
    }

}
